@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root{
    --main-green: #1abb1a;
    --main-font: "Pixelify Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
}

/* header */
header{
    width: clamp(360px, 90vw, 1600px);
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin: 5px;
}

header h1{
    font-family: var(--main-font);
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: clamp(2.5rem, 5vw, 10rem);
    color: var(--main-green);
}

header a{
    text-decoration: none;
}

.github{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    min-width: 100px;
    border-radius: 20px;
}

.github img{
    width: clamp(30px, 3vw, 60px);
    padding: 5px 5px;
}

.github p{
    letter-spacing: 2px;
    color: black;
    font-size: clamp(1rem, 2vw, 1.8rem);
    padding: 5px 5px;
}

/* main */
main{
    width: clamp(300px, 90vw, 1600px);
    margin: 0 auto;
    flex: 1;
}

main h2{
    font-family: var(--main-font);
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: italic;
    font-size: clamp(1.2rem, 2vw, 2rem);
    color: white;
    text-align: center;
    letter-spacing: 2px;
    margin: 5px;
    padding: 10px;
}

.container-terminal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: clamp(350px, 80vw, 1600px);
    margin: 0 auto;
    gap: 20px;
}

.terminal{
    display: flex;
    flex-direction: column;
    width: clamp(350px, 85vw, 1400px);
    padding: 10px;
    margin: 20px;
    min-height: 350px;
    height: auto;
    border-radius: 10px;
    background-color: #222533;
    color: #fbebe2;
    box-shadow: 
            0 0 10px rgba(255,255,255,0.3),
            0 0 20px rgba(255,255,255,0.2),
            0 0 40px rgba(255,255,255,0.1);
}

.mac{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: text;
    gap: 8px;
}

.mac-buttons{
    display: flex;
    margin-top: -20px;
    padding-left: 10px;
    gap: 8px;
}

.mac span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.mac .red {
    background-color: #ff5f57;
}

.mac .yellow {
    background-color: #ffbd2e;
}

.mac .green {
    background-color: #28c941;
}

.language-icon{
    margin-top: -20px;
    width: 50px;
    margin-bottom: 0;
}

code{
    overflow-x: auto;
    font-size: clamp(0.8rem, 1.2vw, 1rem);
}

pre[class*="language-"] {
    background: transparent !important;
}

code[class*="language-"] {
    background: transparent !important;
}

.result{
    width: 200PX;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid white;
    margin-bottom: 20px;
    margin-top: 10px;
    display: none;
}

.result p {
    color: white;
    font-family: var(--main-font);
    font-size: 2rem;
    text-align: center;
}

.container-output{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#dates, #output, .button{
    width: 100%;
    height: auto;
    font-size: clamp(1rem, 2vw, 3rem);
    font-family: var(--main-font);
    background-color: transparent;
    color: white;
    border: 2px solid transparent; 
    border-color: var(--main-green);
}

#dates{
    max-width: 300px;
    margin: 0 30px;
}

#output{
    max-width: 400px;
    margin: 0 20px;
}

.button{
    max-width: 100px;
}

.button:hover{
    transform: translateY(-5px);
}

footer p{
    flex-shrink: 0;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-family: var(--main-font);
}

/* mobile */
@media (max-width: 800px){
    .container-output{
        flex-direction: column;
        gap: 10px;
    }

    #dates, #output, .result{
        max-width: 200px;
        height: 40px;
    }

    .button{
        height: 40px;
    }

}

