@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root{
    --main-green: #1abb1a;
    --main-font: "Pixelify Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

/* header */
header{
    margin: 5px 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-family: var(--main-font);
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: clamp(2.5rem, 5vw, 10rem);
    color: var(--main-green);
    margin: 1rem 5vw;
}

header a{
    text-decoration: none;
}

.github{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    min-width: 100px;
    border-radius: 20px;
}

.github img{
    width: 50px;
    padding: 5px 5px;
}

.github p{
    letter-spacing: 2px;
    color: black;
    font-size: clamp(1rem, 2vw, 1.8rem);
    padding: 5px 5px;
}

/* main */
main h2{
    font-family: var(--main-font);
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: italic;
    font-size: clamp(1.2rem, 2vw, 2rem);
    color: white;
    text-align: center;
    letter-spacing: 2px;
    margin: 5px;
    padding: 10px;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.terminal{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    max-width: 1000px;
    min-height: 350px;
    height: auto;
    border-radius: 10px;
    background-color: #222533;
    color: #fbebe2;
    box-shadow: 
            0 0 10px rgba(255,255,255,0.3),
            0 0 20px rgba(255,255,255,0.2),
            0 0 40px rgba(255,255,255,0.1);
    margin: 20px;
}

.mac{
    display: flex;
    align-items: center;
    cursor: text;
    gap: 8px;
}

.mac span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.mac .red {
    background-color: #ff5f57;
}

.mac .yellow {
    background-color: #ffbd2e;
}

.mac .green {
    background-color: #28c941;
}

code{
    overflow-x: auto;
    font-size: clamp(0.8rem, 1.2vw, 1rem);
}

pre[class*="language-"] {
    background: transparent !important;
}

code[class*="language-"] {
    background: transparent !important;
}



